.contact-information-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: rgba(255, 255, 255, 0.6);
}
.contact-information-list-item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}
.contact-information-map-link {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact-information-link {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
    .contact-information-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
