    .footer {
        position: relative;
        width: 1600px;
        min-height: 600px;
        background: #2F303A;
        margin-right: auto;
        margin-left: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        height: 100%;
    }     
    .address {
        position: absolute;
        left: 124px;
        top: 108px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .join-social {
        position: absolute;
        top: 247px;
        left: 137px;
        margin-top: 30px;
    }
    .join-social-titel {
        font-family: var(--text-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        color: #ffffff;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    .join-social-list {
        display: flex;
        margin: auto;
        padding: auto;
    }
    .join-social-list-item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .join-social-list-icom {
        width: 20px;
        height: 20px;
        fill: #ffffff;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .join-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   

@media screen and (min-width: 768px) {
    .footer {
        min-height: 463px;
    }
    .address {
        position: absolute;
        left: 76px;
        top: 108px;
    }
    .join-social {
        position: absolute;
        top: 65px;
        left: 473px;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        min-height: 252px;
    }
    .address {
        position: absolute;
        left: 215px;
        bottom: 60px;
    }
    .join-social-titel {
        padding: 0;
    }
    .join-social {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
        width: 206px;
        height: 77px;
        margin-left: 70px;
    }
    .join-social-list-link:hover,
    .join-social-list-link:focus  {
            background-color: #2196F3;
    }
    .join-social-list-link:hover .join-social-list-icom ,
    .join-social-list-link:focus .join-social-list-icom {
        fill: #ffffff;
    }
    
}