    .team {
        background: #F5F4FA;
    }
    .team-title {
        min-width: 205px;
        height: 33px;
        margin: 0 auto;
        text-align: center;
        font-family: var(--text-font);
        font-weight: 700;
        font-size: 28px;
        line-height: 1.179;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }
    .team-list-item {
        width: 450px;
        height: 622px;
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;
    }
    .team-img {
        margin-bottom: 30px;
    }
    .profeshional-name {
        padding: 0px;
        text-align: center;
    }
    .team-name-title {
        min-width: 151px;
        height: 19px;
        font-family: var(--text-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        color: #212121;
    }
    .team-text {
        min-width: 151px;
        height: 19px;
        font-family: var(--text-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.188;
        letter-spacing: 0.03em;
        color: #757575;
    }
    .social-list {
        display: flex;
        min-width: 206px;
        height: 44px;
        margin: 16px 122px 24px 122px;
    }
    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: #ffffff;
        border-radius: 50%;
        }
    
    .social-list-icom {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
    }
    
@media screen and (min-width: 768px) {
    .team-list {
        margin: -15px;
    }
    .team-list-item {
        width: 354px;
        height: 536px;
        margin: 15px;
        margin-bottom: 60px;
    }
    .social-list {
        margin: 16px 74px 24px 74px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list-item {
        width: 270px;
        height: 428px;
        margin-bottom: 94px;
    }
    .team-title {
        font-size: 36px;
        line-height: 1.166;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
    .social-list {
        margin: 16px 32px 30px 32px;
    }
    .social-list-item {
        &:not(:last-child) {
         margin-right: 10px;
        }
    }
    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: #ffffff;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover ,
        &:focus  {
        outline: none;
        background-color: #2196F3;
        }
    }
    .social-list-icom {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .social-list-link:hover &,
        .social-list-link:focus & {
            fill: #ffffff;
        }
    }
}
