.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.container {
    & .hero-title {
        margin-bottom: 30px;
    }
    & .btn {
        max-width: 200px;
        height: 50px;
        align: center;
    }
}
.header &{
    display: flex;
    align-items: center;
}
